
learning/modules/GeneralizedLinearModels/helper/__pycache__/

*.pyc

learning/modules/sklearn/Support Vector Machines/.ipynb_checkpoints/

*.ipynb_checkpoints/

learning/modules/linear_algebra/.ipynb_checkpoints/

.vscode/

data/regression/halloween_candy/.~lock.candy-data.csv#
