
*.pyc

learning/modules/sklearn/Walkthroughs/.ipynb_checkpoints/

learning/helpers/plots/.ipynb_checkpoints/

learning/spark/Scratchpad/.ipynb_checkpoints/

learning/modules/sklearn/Decision Trees/.ipynb_checkpoints/DecisionTreeClassifier-checkpoint.ipynb

learning/modules/sklearn/Decision Trees/.ipynb_checkpoints/DecisionTreeRegressor-checkpoint.ipynb

*.ipynb
